<h1> Artists </h1>
<ul>
<% @artists.each do |artist| %>
<%= artist.name %>
<%= pluralize(artist.songs.count, 'song') %>
<% end %>
</ul>

<!-- <ul>
  <% @artists.each do |artist| %>
  <li><%= artist.name %></li>
  <% end %>
</ul> -->
